body {
    font-family: Arial, sans-serif;
    background-color: #f7eef5;
    margin: 0;
    padding: 20px;
}
.kanban-board {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

.column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

#column1 {
    background-color: rgba(207, 84, 84, 0.8);
    padding: 10px;
    border-radius: 5px;
    height: 50vh;
}
#innerDivColumn1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

#taskBtn {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

#inputDiv {
    padding-top: 10px;
}


#taskInput {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

#column2 {
    background-color: rgba(84, 107, 207, 0.8);
    padding: 10px;
    border-radius: 5px;
    height: 50vh;
}

#column3 {
    background-color: rgba(84, 207, 107, 0.8);
    padding: 10px;
    border-radius: 5px;
    height: 50vh;
}

#column4 {
    background-color: rgba(207, 207, 84, 0.8);
    padding: 10px;
    border-radius: 5px;
    height: 50vh;
}

#addTaskCardBtn1, #addTaskCardBtn2, #addTaskCardBtn3, #addTaskCardBtn4 {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
